In [14]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import pickle

pd.set_option('display.max_columns', None)

In [15]:
test = pd.read_csv('test_data.csv')
train = pd.read_csv('train_data.csv')

In [16]:
binary = ['schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic', 'Math', 'Portuguese', 'Pstatus', 'famsize', 'school', 'sex', 'address']
nominal = ['Mjob', 'Fjob', 'reason', 'guardian']
ordinal = [] # There are no ordinal variables that aren't binary

In [17]:
# label_encoder object knows how to understand word labels.
label_encoder = LabelEncoder()

for i in binary:
    train[i] = label_encoder.fit_transform(train[i])
    test[i] = label_encoder.fit_transform(test[i])
# encode nominal variables using one hot encoding
for j in nominal:
    train = pd.concat([train, pd.get_dummies(train[j], prefix=j)], axis=1)
    train.drop(j, axis=1, inplace=True)
    test = pd.concat([test, pd.get_dummies(test[j], prefix=j)], axis=1)
    test.drop(j, axis=1, inplace=True)

In [18]:
train.drop(['Portuguese'], axis=1, inplace=True)
test.drop(['Portuguese'], axis=1, inplace=True)

In [19]:
print(train.shape)
train.head(1)

(835, 48)

,studentID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,Math,Mjob_at_home,Mjob_health,Mjob_other,Mjob_services,Mjob_teacher,Fjob_at_home,Fjob_health,Fjob_other,Fjob_services,Fjob_teacher,reason_course,reason_home,reason_other,reason_reputation,guardian_father,guardian_mother,guardian_other
0,0,1,1,17,1,0,1,3,3,1,1,0,0,1,0,1,1,1,1,0,4,1,4,5,5,3,8,7,10,9,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0

In [20]:
print(test.shape)
test.head(1)

(209, 47)

,studentID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,Math,Mjob_at_home,Mjob_health,Mjob_other,Mjob_services,Mjob_teacher,Fjob_at_home,Fjob_health,Fjob_other,Fjob_services,Fjob_teacher,reason_course,reason_home,reason_other,reason_reputation,guardian_father,guardian_mother,guardian_other
0,835,0,0,17,0,0,1,2,2,1,1,0,0,1,0,0,1,1,1,0,5,3,2,1,2,3,18,7,6,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,1,0

In [21]:
train.to_pickle('train_data_preprocessed.pkl')
test.to_pickle('test_data_preprocessed.pkl')

In [ ]:
# scaler = MinMaxScaler()
# train_X = scaler.fit_transform(train.drop(['G3'], axis=1))
# train_y = scaler.fit_transform(train['G3'])
# test = scaler.fit_transform(test)